<h1>All Astronauts </h1>

<% @astronauts.each do |astronaut| %>
<ul>
  <li><%= astronaut.name %></li>
  <li><%= astronaut.age %></li>
  <li><%= astronaut.job %></li>
</ul>

  <% astronaut.space_missions_order.each do |mission| %>
    <p> <%= mission.title %> </p>
  <% end %>

  <p> Total time: <%= astronaut.total_time %> </p> 
<% end %>

<p> Average age: <%= @average_age %></p>
